{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "preserve"
}